@keyframes load {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #072d50;
  color: #f0ffff;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 2;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h1,
h2,
h3,
button,
.temp,
.conditions p {
  font-weight: bold;
}

.text-highlight {
  background-color: #283fc2;
  color: #f0ffff;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.cold {
  color: #4bafce;
}

.hot {
  color: #b9541a;
}

.very-hot {
  color: #ce3008;
}

svg {
  max-width: 40px;
  fill: #072d50;
}

button {
  color: #f0ffff;
  background-color: #283fc2;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  transition: background-color, outline 0.3s ease;
}

button:hover,
button:focus {
  background-color: #2151a8;
  outline: 1px solid #f0ffff;
}

.no-js,
.error {
  background-color: #a00c07;
  padding: 1.2rem;
  border-radius: 4px;
  position: absolute;
  top: -100px;
  transition: all 0.5s ease;
}

.error-visible {
  position: relative;
  transform: translateY(100px);
}

.loading-in-progress > *:not(.loading) {
  display: none;
}

.loading {
  font-size: 1.3rem;
  padding: 1rem;
  position: absolute;
  top: 45%;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loading-icon {
  fill: #2aaaaa;
  animation: 1s infinite linear load;
}

.hidden {
  display: none;
}

.action-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

#refresh-weather {
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

input {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.location-select {
  display: flex;
  gap: 1rem;
}

.weather-data {
  text-align: center;
}

.current-condition {
  margin: 1rem 0;
}

.conditions {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.badge {
  flex-basis: 170px;
  color: #172c55;
  background-color: #f0ffff;
  padding: 1rem;
  border-radius: 0.4rem;
  transition: all 0.4s ease;
}

.badge:hover {
  transform: scale(1.1);
}

.badge > h2 {
  color: #ffffff;
  background-color: #172c55;
  padding: 0.5rem;
  border-radius: 0.4rem;
  position: relative;
  bottom: 10px;
}

.badge > p {
  margin-top: 0.5rem;
}

.forecasts > * {
  margin: 1rem 0;
}

.weather-by-hour {
  padding: 0.5rem;
  border: 3px solid #3065c7;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.weather-by-hour > button {
  padding: 0.5rem 0;
  background: none;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-by-hour > button:hover {
  cursor: pointer;
}

.passed-hour {
  filter: brightness(0.45);
}

.current-hour {
  outline: 1px solid #2151a8;
  border-radius: 0.5rem;
}

.temp,
.conditions p {
  font-size: 1.2rem;
}

@media (max-width: 860px) {
  .action-buttons {
    position: static;
  }
}
